# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Uploaded files
backend/uploads/

# VS Code temporary files
tempCodeRunnerFile*