# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Uploaded resumes
backend/uploads/*
!backend/uploads/.gitkeep

# Generated reports
frontend/*.pdf

# VS Code temporary files
tempCodeRunnerFile*